.home video{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 50%;
    object-fit: cover;
    position: fixed;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
    z-index: -1;
}

.home .main img{
    height: 114.5px;
    /* margin: 10px -472px; */
}

.home-text{
    color: #cacaca;
    margin-left: 450px;
    margin-top: 207px;
}

.Home p{
    color: #cacaca;
    font-weight: 500;
}

.home input{
    background: #292929;
    border: 0;
    border-radius: 10px;
    color: #cacaca;
    padding: 12px 266px 7px 6px;
    width: 43.5%;
}

.home button{
    background: #292929;
    border: 0;
    border-radius: 10px;
    color: #cacaca;
    display: inline-block;
    font-weight: 100;
    margin-left: 9px;
    padding: 12px 26px 8px;
    text-transform: uppercase;
}

@media screen and (max-width: 780px){
   .home{
      padding:1.5rem 2rem;    
   }

   .home .main img{
    margin-left: -30px;
    height: 52px;
    width: 495px;
   }

   .home-text{
    margin-left: 45px;
   }

   .home p{
    max-width: 389px;
   }
}

