.about{    
    /* height: 23px;
    background-color: #000;*/
}

.about img{
    /* width: 100%; */
    box-shadow: 0 0 17px 11px #005469;
    border-radius: 5px;
    margin: 83px 141px;
    height: 473px;
    width: 336px;
}

.about-text{
    max-width: 565px;
    margin-left: 758px;
    margin-top: -643px;    
}

.about .main{
    max-width: 95%;
    margin: 0 auto;
}

.about-text h2{
    font-size: 65px;
    display: flex;
    justify-content: center; 
    text-transform: capitalize;
}

.about-text h5{
    color: brown;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text p{
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 38px;
}

.about-text button{
    /* animation: blinker 0.8s step-start infinite; */
    background-color: #f90049;   
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    margin-top: -32px;
}

.about-text button a{
    text-transform: lowercase;
    text-decoration: none;
    color: aliceblue;
    transition: 4s;    
}

/* .about-text button :hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
} */

@media screen and (max-width: 780px){
    .main img{
      height:20rem;
      width: 15rem;
      margin-left: 90px;
    }

    .about-text{
        margin: 0 25px;
        max-width: 450px;
    }

    .about-text button{
        margin: -20px 125px;
    }
}