.upcomingMission{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
    margin-bottom: 50px;
}

.upcomingMission .image img{
    width: 285px;
    height: 160px;
    margin: 16px 57px;
    border-radius: 5px;
    box-shadow: 0 0 20px 12px rgba(245, 81, 81, 0.308);
}

.read-or-hide{
    background-color: #f90049;
    font-weight: bold;
    padding: 0 10px;
    margin: 0 3px;
    border-radius: 30px;
}

.read-or-hide :hover{
    text-decoration: underline;
}

.text h5{
    font-size: x-large;
    letter-spacing: 1px;
    color: rgb(62, 62, 193);
    text-transform: capitalize;
}

.text p{
    max-width: 1000px;
}

.imag img{
    width: 285px;
    height: 160px;
    margin: 16px 76px;
    border-radius: 5px;
    box-shadow: 0 0 20px 12px rgba(245, 81, 81, 0.308);
}
